body {
    border-block-start-width: 500px; 
    background-image: url(https://www.solidbackgrounds.com/images/1920x1080/1920x1080-electric-blue-solid-color-background.jpg)
}

img {
 width: 300px
}
h1{
width: 600px
}